<link rel="stylesheet" type="text/css" href="./main.css" />
<script src="resources/js/md5.js"></script>

<div class="row">
	<div class="span9" style='margin-top:10px'>
		
		<div id='tusc_container_wrapper'></div>
		
		<form class="well form-inline" id='theform'>

			<formset>
				<table class='table table-condensed'>
					<tr><td colspan=2><span id='auth_warning' tt='auth_warning'></span></td></tr>
					<tr>
						<th class='span5' tt='flickr_id'></th>
						<td><input type='text' class='form-control bs4' id='user_id' rel='tooltip' tt_title='flickr_id_tt' /></td>
					</tr>
					<tr>
						<th class='span5' tt='flickr_photoset_id'></th>
						<td><input type='text' class='form-control bs4' id='photoset_id' rel='tooltip' tt_title='flickr_photoset_tt' /></td>
					</tr>
					<tr>
						<th class='span5' tt='flickr_photo_id'></th>
						<td><input type='text' class='form-control bs4' id='photo_id' rel='tooltip' tt_title='flickr_photo_tt' /></td>
					</tr>
					<tr>
						<th class='span5' tt='flickr_tag'></th>
						<td><input type='text' class='form-control bs4' id='flickr_tags' rel='tooltip' tt_title='flickr_tag_tt' /></td>
					</tr>
					<tr>
						<th class='span5' tt='max_pictures'></th>
						<td><input type='number' class='form-control bs4' id='max_pics' rel='tooltip' tt_title='max_pictures_tt' />
						</td>
					</tr>
				</table>
			</formset>
			
			<button id='b_run' class='btn btn-primary' onclick='runTool();return false' tt='run'></button>

		</form>
		
	</div>
<!--	<div class="span3">
		<h3>Examples</h3>
		<div class='well'>
			<ul class='nav'>
				<li><a href='#' onclick='showExample("Computational Biology");return false'>Computational Biology</a></li>
				<li><a href='#' onclick='showExample("spaceflight");return false'>Spaceflight</a></li>
			</ul>
		</div>
	</div>-->
</div>

